p{
    color: cyan;
}

.laud{
    color: chartreuse;
    border: 2px solid burlywood;
    background-color: gold;
}

.furia{
    color: black;
    border: 2px dashed teal;
    background-color: salmon;
}

.fluxo{
    color: purple;
    border: 3px solid grey; 
    background-color: royalblue;
}

#titulo{
    color: cornflowerblue;
    border: 2px solid purple;
    background-color: black;
}

https://www.w3schools.com/css